// Konsolcum Topluluk Sayfası için özel stiller
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.icon-circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}


// Global Renk Değişikliği
.text-primary {
  color: #ffc107 !important; 
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.bg-primary {
  background-color: #ffc107 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

// İkon ve Kart Stilleri
.icon-circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.feature-card {
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  }
}

// Başlık ve metin stilleri
.display-4 {
  font-size: 2.5rem;
  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}